.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  height: calc(100vh - 76px);
  .about-h1 {
    color: #4a4a4a;
    margin: 1rem auto;
    font-size: 2rem;
    text-align: center;
  }
  .about-p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #4a4a4a;
    margin: 1rem 1.5rem;
    .about-highlight {
      color: #d4372b;
    }
  }
  .translateBtn {
    background: transparent;
    margin: 1rem 1.5rem;
    padding: 0.5rem;
    border: 1px solid #d4372b;
    border-radius: 5px;
    color: #d4372b;
    transition: all 0.2s ease-in;
    cursor: pointer;
    &:hover {
      background: #d4372b;
      color: #fafafa;
    }
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }
  .about-container {
    height: calc(100vh - 77.59px);
  }
}
