.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  color: #4a4a4a;
  .portfolio-h1 {
    font-size: 2rem;
    margin: 1.5rem auto;
    text-align: center;
  }
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-container {
    display: flex;
    align-items: center;
    max-width: 700px;
    .project-btn {
      background: transparent;
      padding: 0.3rem;
      border-radius: 4px;
      color: #4a4a4a;
      text-decoration: none;
      transition: all 0.3s ease;
      margin: 1rem;
      color: #d4372b;
      transition: all 0.1s ease-in-out;
      filter: drop-shadow(0px 2px 1px black);

      &:hover {
        filter: drop-shadow(0px 4px 3px black);
      }
      .project-img {
        width: 150px;
        border-radius: 5px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .portfolio-container {
    .portfolio-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .project-container {
    flex-direction: column;
    text-align: center;
  }
}
